/* .image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;

}

.image-textp {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.btn{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);


} */